[submodule "PiwikTracker"]
	path = PiwikTracker
	url = https://github.com/ilTofa/PiwikTracker
[submodule "iRate"]
	path = iRate
	url = https://github.com/ilTofa/iRate
[submodule "AFNetworking"]
	path = AFNetworking
	url = https://github.com/AFNetworking/AFNetworking
